@import '~bootstrap/scss/bootstrap';

.warning-message{
    color: red;
}
.password-error{
    display: none;
}

.brand-color-1 {

    background-color: #70c3a5;
}

.brand-color-2 {
    background-color: #7085c3;;
}

