@import '~bootstrap/scss/bootstrap';
@import 'resources/scss/_variables';
@import 'resources/scss/_buttons';

.warning-message{
    color: red;
}
.password-error{
    display: none;
}

.brand-color-1 {

    background-color: #70c3a5;
}

.brand-color-2 {
    background-color: #7085c3;;
}

.brand-text-color-1 {
    color: #70c3a5;
}

.nav-link {
    font-size: 20px;
}

.ms-link {
    color: white;
    text-decoration: none;
}

.my-d {
    text-shadow: 2px 2px 4px rgba(var(--bd-violet-rgb), 0.5); 
  }