@import '~bootstrap/scss/bootstrap';
@import 'resources/scss/_variables';
@import 'resources/scss/_buttons';


.spec-wrapper{
	display: flex;
	flex-wrap: wrap;
}
.warning-message {
    color: red;
}

.password-error {
    display: none;
}

.brand-color-1 {

    background-color: #70c3a5;
}

.brand-color-2 {
    background-color: #7085c3;
    ;
}

.brand-text-color-1 {
    color: #70c3a5 !important;
}

.nav-link {
    font-size: 20px;
}

.ms-link {
    color: white;
    text-decoration: none;
}

.my-d {
    text-shadow: 2px 2px 4px rgba(var(--bd-violet-rgb), 0.5);
}

.testo {
    color: blueviolet;
}


.brand-color-2-border {
    border: #70c3a5 solid 1px;
}

$speed: 0.5s;

.btn-flip{
	opacity: 1;
	outline: 0;
	color: #fff;
	line-height: 40px;
	position: relative;
	text-align: center;
	letter-spacing: 1px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	
	&:hover{
		
		&:after{
			opacity: 1;
			transform: translateY(0) rotateX(0);
		}
		
		&:before{
			opacity: 0;
			transform: translateY(50%) rotateX(90deg);
		}
	}
	
	&:after{
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		display: block;
		transition: $speed;
		position: absolute;
		content: attr(data-back);
		transform: translateY(-50%) rotateX(90deg);
	}
	
	&:before{
		top: 0;
		left: 0;
		opacity: 1;
		display: block;
		padding: 0 30px;
		line-height: 40px;
		transition: $speed;
		position: relative;
		content: attr(data-front);
		transform: translateY(0) rotateX(0);
	}
}

.ms-b {
	background-color: #fefdfc;
}

.ms-silver {
		background: linear-gradient(45deg, #C0C0C0, #E0E0E0, #A9A9A9);
		-webkit-background-clip: text;
		color: transparent;
		text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.2);
	}

	.ms-gold {
        background: linear-gradient(45deg, #FFD700, #FFA500, #FFEC8B);
        -webkit-background-clip: text;
        color: transparent;
		text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.1);
    }	

	.ms-platinum {
	    background: linear-gradient(45deg, #8a8987, #4CAF50, #21dd2e, #97b0cc, #7FFF00, #32CD32, #ADFF2F);
        -webkit-background-clip: text;
        color: transparent;
		text-shadow: 0.5px 0.5px 0 rgba(0, 0, 0, 0.5);
    }